    </div> <!-- .content -->
    <footer>
        <div class="container">
            <div class="footer-info">
                &copy; {{ year }} {{ name }}. Всі права захищені.
            </div>
            <div class="footer-links">
                {{ footer }}
            </div>
        </div>
    </footer>
</body>
</html>
