<header class="header">
	<section class="header__top_section">
		<div class="container">
			<div class="header__top_wrapper">
				<nav class="header__top_nav">
					<ul class="header__top_list">
						<li class="header__list_item">
							<a href="#" class="header__top_link">Акції</a>
						</li>
						<li class="header__list_item">
							<a href="#" class="header__top_link">Блог</a>
						</li>
						<li class="header__list_item">
							<a href="#" class="header__top_link">Відгуки</a>
						</li>
						<li class="header__list_item">
							<a href="#" class="header__top_link">Контакти</a>
						</li>
						<li class="header__list_item">
							<a href="#" class="header__top_link">Про компанію</a>
						</li>
					</ul>
				</nav>
				<p class="header__top_location">
					м. Полтава, вул. Степового Фронту, 7
				</p>
			</div>
		</div>
	</section>
	<section class="header__main_section">
		<div class="container">
			<div class="header__main_wrapper">
				<div class="header__main_primary">
					<a href="#" class="header__main_logo">
						<img src="catalog/view/theme/dveryhub/assets/images/header-logo.png" alt="header logo" class="header__logo_icon"/>
					</a>
					<div class="header__main_inner">
						<div class="header__main_search">
							<input type="text" class="header__search_input" placeholder="Пошук за назвою, категоріями"/>
							<span class="header__search_loop">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</span>
						</div>
						<div class="header__main_contact">
							<h3 class="header__contact_title">+38 099 98 27 807</h3>
							<p class="header__contact_text">Зворотній дзвінок</p>
						</div>
						<div class="header__main_actions">
							<div class="header__actions_item">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.1111 3C19.6333 3 22 6.3525 22 9.48C22 15.8138 12.1778 21 12 21C11.8222 21 2 15.8138 2 9.48C2 6.3525 4.36667 3 7.88889 3C9.91111 3 11.2333 4.02375 12 4.92375C12.7667 4.02375 14.0889 3 16.1111 3Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span class="header__actions_circle">4</span>
							</div>
							<div class="header__actions_item">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2 2H3.30616C3.55218 2 3.67519 2 3.77418 2.04524C3.86142 2.08511 3.93535 2.14922 3.98715 2.22995C4.04593 2.32154 4.06333 2.44332 4.09812 2.68686L4.57143 6M4.57143 6L5.62332 13.7314C5.75681 14.7125 5.82355 15.2031 6.0581 15.5723C6.26478 15.8977 6.56108 16.1564 6.91135 16.3174C7.30886 16.5 7.80394 16.5 8.79411 16.5H17.352C18.2945 16.5 18.7658 16.5 19.151 16.3304C19.4905 16.1809 19.7818 15.9398 19.9923 15.6342C20.2309 15.2876 20.3191 14.8247 20.4955 13.8988L21.8191 6.94969C21.8812 6.62381 21.9122 6.46087 21.8672 6.3335C21.8278 6.22177 21.7499 6.12768 21.6475 6.06802C21.5308 6 21.365 6 21.0332 6H4.57143ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM18 21C18 21.5523 17.5523 22 17 22C16.4477 22 16 21.5523 16 21C16 20.4477 16.4477 20 17 20C17.5523 20 18 20.4477 18 21Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
								<span class="header__actions_circle">4</span>
							</div>
						</div>
					</div>
				</div>
				<div class="header__main_secondary">
					<nav class="header__secondary_nav">
						<ul class="header__secondary_list">
							{{menu}}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section class="header__discount_section">
		<div class="container">
			<div class="header__discount_wrapper">
				<a href="#" class="header__discount_text">Знижка -20% на монтаж дверей!</a>
				<svg width="6" height="10" viewbox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 9L5 5L1 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
		</div>
	</section>
</header>
